.product-card {
  cursor: pointer;
  transition: all 0.55ms ease-in-out;
  width: 8rem;
}

@media (min-width: 768px) {
  .product-card {
    width: 12rem;
  }
}
@media (min-width: 1024px) {
  .product-card {
    width: 16rem;
  }
}

.product-card:hover {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
}

.product-card .card-img-top {
  max-width: 200px;
}

.product-card__brand {
  font-size: var(--font-sm);
  color: var(--font-color-light);
}

.product-card__title {
  font-size: var(--font-md);
}

.product-card__old-price {
  color: #747778;
}

.product-card__city {
  font-size: var(--font-base);
}

.product-card__shop-name {
  font-size: var(--font-lg);
}
