@font-face {
  font-family: 'Stolzl';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/Stolzl-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Stolzl';
  font-weight: 500;
  font-style: normal;
  src: url('../assets/fonts/Stolzl-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Stolzl';
  font-weight: 700;
  font-style: normal;
  src: url('../assets/fonts/Stolzl-Bold.woff2') format('woff2');
}
